<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SCHOOL_DATABASE.Properties.Settings.UserLoignConnectionString" connectionString="Data Source=|DataDirectory|\UserLoign.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
